$primary-color: #efefef;
$secondary-color: #ad8c1c;
$third-color: #790e0e;
$lightGray: #ccc;

$errorBGcolor: #f8d7da;
$errorTxtColor: #721c24;
$errorBorderColor: #f5c6cb;

$warningBGcolor: #fff3cd;
$warningTxtColor: #856404;
$warningBorderColor: #ffeeba;

$sucsessBGcolor: #d4edda;
$sucsessTxtColor: #155724;
$sucsessBorderColor: #c3e6cb;